<div class="container p-3 mt-3">
  <h1 class="app-title text-center text-light" id="header">AngularTodoApp</h1>
  <div class="card text-dark bg-warning">
    <div class="card-header fw-bold">
      <i class="fas fa-pencil"></i> New Task
    </div>
    <div class="card-body">
      <form #eklemeFormu="ngForm" class="form-horizontal" (ngSubmit)="addItem(eklemeFormu)">
        <div class="input-group mb-3">
          <input type="text" #item name="item" ngModel class="form-control" placeholder="Type a new task"
            aria-label="Type a new task" />
          <button class="btn btn-sm btn-dark" id="add-new-task">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="card text-dark bg-warning mt-3">
    <div class="card-header fw-bold">
      <div class="fas fa-list"></div>
      Task List
      <a (click)="deleteAllLocalStorage()" id="btn-delete-all" class="btn btn-sm btn-danger float-end"><i
          class="fas fa-trash"></i> Delete
        All</a>
    </div>
    <div class="card-body">
      <ul class="list-group" *ngFor="let item of itemList">
        <li class="list-group-item">{{item.item}} <i class="fa fa-trash float-end text-danger"
            (click)="deleteItemLocalStorage(item)"></i></li>
      </ul>
    </div>
  </div>
</div>